h1,h2,h3,p{
    font-family: Helvetica;
}

h1,h2,h3{
    font-weight: bold;
}

h1{
    font-size: 100px;
    color: khaki;
    background-image: url("../resources/images/pattern.jpeg");
    text-align: center;
}

h2{
    font-size: 32px;
    color: white;
}

h2.green{
    background-color: mediumspringgreen;
}

h2.red{
    background-color: lightcoral;
}

h2.blue{
    background-color: skyblue;
}

span.blueEmp{
    font-weight: bold;
    color: blue;
}